@import "tailwindcss";

@theme {
	--color-primary-0: #eefbfe;
	--color-primary-100: #b7edfa;
	--color-primary-200: #5bd6f4;
	--color-primary-300: #0eb6df;
	--color-primary-400: #0C98BA;
	--color-primary-500: #0a7a95;
	--color-primary-600: #075c70;
	--color-primary-1000: #021f26;
	--color-secondary-100: #f0f6f0;
	--color-secondary-200: #D8E7D7;
	--color-secondary-300: #c0d8be;
	--color-secondary-400: #84b481;
	--color-secondary-500: #629c5e;
	--color-secondary-600: #436b40;
}

.loader {
	width: 8px;
	height: 10px;
	border-radius: 4px;
	display: block;
	margin: 10px auto;
	position: relative;
	background: currentColor;
	color: #FFF;
	box-sizing: border-box;
	animation: animloader 0.3s 0.3s linear infinite alternate;
}
.loader::after, .loader::before {
	content: '';
	width: 8px;
	height: 10px;
	border-radius: 4px;
	background: currentColor;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 20px;
	box-sizing: border-box;
	animation: animloader 0.3s  0.45s  linear infinite alternate;
}
.loader::before {
	left: -20px;
	animation-delay: 0s;
}
@keyframes animloader {
	0%   { height: 24px}
	100% { height: 4px}
}
